/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
:root:not([inDOMFullscreen='true']):not([chromehidden~='location']):not([chromehidden~='toolbar']) {
  & #tabbrowser-tabbox #tabbrowser-tabpanels .browserSidebarContainer {
    width: -moz-available;
    --zen-native-content-radius: env(-moz-gtk-csd-titlebar-radius, var(--zen-border-radius));
    border-radius: var(
      --zen-webview-border-radius,
      /* Inner radius calculation:
       * 1. If the native radius - the separation is less than 4px, use 4px.
       * 2. Otherwise, use the the calculated value (inner radius = outer radius - separation).
      */
        max(4px, calc(var(--zen-native-content-radius) - var(--zen-element-separation)))
    );
    position: relative;

    /* For glance */
    transition:
      transform 0.1s ease-in-out,
      opacity 0.1s ease-in-out;

    overflow: hidden;

    :root[zen-right-side='true'] & {
      margin-left: var(--zen-element-separation);
    }

    :root:not([zen-no-padding='true']) & {
      box-shadow: 0 0 9.73px 0px rgba(0, 0, 0, 0.25);
    }
  }

  @media (-moz-bool-pref: 'zen.view.experimental-rounded-view') {
    #tabbrowser-tabpanels {
      mix-blend-mode: multiply;
      -moz-osx-font-smoothing: grayscale;
      isolation: isolate;
    }
  }
}
