/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
/* All overrides for compact mode go here */

@media (-moz-bool-pref: 'zen.view.compact') {
  :root:not([customizing]):not([inDOMFullscreen='true']) {
    #zen-sidebar-top-buttons:has(#zen-sidebar-top-buttons-customization-target:empty) {
      max-height: 0 !important;
      min-height: 0 !important;
      opacity: 0;
      overflow: hidden;
      pointer-events: none;
    }

    @media (-moz-bool-pref: 'zen.view.compact.hide-tabbar') or (-moz-bool-pref: 'zen.view.use-single-toolbar') {
      #zen-sidebar-web-panel-wrapper:has(#zen-sidebar-web-panel[pinned='true']) {
        margin-left: var(--zen-sidebar-web-panel-spacing) !important;
      }

      #zen-tabbox-wrapper {
        /* Remove extra 1px of margine we have to add to the tabbox */
        margin-left: 0 !important;
      }

      #zen-appcontent-wrapper {
        margin-left: var(--zen-element-separation) !important;

        & #tabbrowser-tabbox {
          margin-left: 0 !important;
        }
      }

      #zen-sidebar-top-buttons-customization-target {
        padding-inline-start: calc(var(--zen-toolbox-padding) - var(--toolbarbutton-outer-padding)) !important;
      }

      #zen-sidebar-splitter {
        display: none !important;
      }

      #navigator-toolbox {
        --zen-toolbox-max-width: 64px !important;
        --zen-compact-float: var(--zen-element-separation);

        &:not([animate='true']) {
          position: absolute;
          z-index: 10;
          transition:
            left 0.25s ease,
            right 0.25s ease,
            opacity 1.5s ease;
          top: 0;
          bottom: var(--zen-element-separation);
          opacity: 0;
          padding: 0 var(--zen-compact-float) !important;

          :root[zen-single-toolbar='true'] & {
            top: var(--zen-element-separation);
          }
        }

        &:not([zen-right-side='true']) #nav-bar {
          margin-left: 0 !important;
        }

        & #urlbar[open] {
          top: 0 !important;
        }
      }

      &:not([zen-right-side='true']) #navigator-toolbox {
        left: calc(-1 * var(--zen-sidebar-width) + var(--zen-element-separation));
      }

      /* When we have multiple toolbars and the top-toolbar is NOT being hidden,
        * we need to adjust the top-padding of the toolbox to account for the
        * extra toolbar height. */
      @media not (-moz-bool-pref: 'zen.view.compact.hide-toolbar') {
        &:not([zen-single-toolbar='true']) #navigator-toolbox:not([animate='true']) {
          margin-top: var(--zen-toolbar-height) !important;
        }
      }

      &[zen-right-side='true'] {
        & #navigator-toolbox {
          --zen-compact-float: calc(var(--zen-element-separation) + 1px);

          &:not([animate='true']) {
            right: calc(-1 * var(--zen-sidebar-width) + var(--zen-element-separation));
          }
        }

        & .browserSidebarContainer {
          margin-left: 0 !important;
          margin-right: var(--zen-element-separation) !important;
        }
      }

      #navigator-toolbox:not([animate='true']) #titlebar {
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
        border-radius: calc(var(--zen-border-radius) - 2px);
        padding: var(--zen-toolbox-padding) !important;
        position: relative;
        background: var(--zen-dialog-background);
        outline: 1px solid light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));

        :root[zen-single-toolbar='true'] {
          padding-top: 0 !important;
          margin-left: 0 !important;
        }

        @media (-moz-bool-pref: 'zen.view.compact.color-sidebar') {
          background: var(--zen-main-browser-background-toolbar) !important;
          background-attachment: fixed !important;
          background-size: 2000px !important; /* Dont ask me why */
          backdrop-filter: blur(5px) !important;
        }
      }

      #navigator-toolbox:hover,
      #navigator-toolbox[zen-has-hover],
      #navigator-toolbox[zen-user-show],
      #navigator-toolbox[flash-popup],
      #navigator-toolbox[has-popup-menu],
      #navigator-toolbox[movingtab],
      #navigator-toolbox:has(.tabbrowser-tab:active),
      #navigator-toolbox:has(
          *:is([panelopen='true'], [open='true'], #nav-bar:focus-within):not(tab):not(.zen-compact-mode-ignore)
        ) {
        &:not([animate='true']) {
          --zen-compact-mode-func: linear(
            0 0%,
            0.002958 1%,
            0.01137 2%,
            0.024581 3%,
            0.041981 4%,
            0.063001 5%,
            0.087118 6%,
            0.113846 7.000000000000001%,
            0.14274 8%,
            0.173391 9%,
            0.205425 10%,
            0.238504 11%,
            0.272318 12%,
            0.30659 13%,
            0.341071 14.000000000000002%,
            0.375535 15%,
            0.409787 16%,
            0.44365 17%,
            0.476971 18%,
            0.509618 19%,
            0.541476 20%,
            0.572448 21%,
            0.602453 22%,
            0.631425 23%,
            0.65931 24%,
            0.686067 25%,
            0.711668 26%,
            0.736092 27%,
            0.759328 28.000000000000004%,
            0.781375 28.999999999999996%,
            0.802235 30%,
            0.821921 31%,
            0.840449 32%,
            0.857841 33%,
            0.874121 34%,
            0.88932 35%,
            0.903469 36%,
            0.916603 37%,
            0.928759 38%,
            0.939975 39%,
            0.950291 40%,
            0.959747 41%,
            0.968385 42%,
            0.976244 43%,
            0.983366 44%,
            0.989792 45%,
            0.995562 46%,
            1.000716 47%,
            1.005292 48%,
            1.009328 49%,
            1.01286 50%,
            1.015925 51%,
            1.018556 52%,
            1.020787 53%,
            1.022648 54%,
            1.024172 55.00000000000001%,
            1.025385 56.00000000000001%,
            1.026316 56.99999999999999%,
            1.026991 57.99999999999999%,
            1.027434 59%,
            1.027669 60%,
            1.027717 61%,
            1.027599 62%,
            1.027334 63%,
            1.02694 64%,
            1.026433 65%,
            1.025829 66%,
            1.025143 67%,
            1.024388 68%,
            1.023575 69%,
            1.022715 70%,
            1.02182 71%,
            1.020898 72%,
            1.019957 73%,
            1.019005 74%,
            1.018048 75%,
            1.017094 76%,
            1.016146 77%,
            1.015211 78%,
            1.014291 79%,
            1.013391 80%,
            1.012513 81%,
            1.01166 82%,
            1.010835 83%,
            1.010039 84%,
            1.009273 85%,
            1.008538 86%,
            1.007836 87%,
            1.007166 88%,
            1.00653 89%,
            1.005926 90%,
            1.005355 91%,
            1.004817 92%,
            1.00431 93%,
            1.003835 94%,
            1.003391 95%,
            1.002976 96%,
            1.002591 97%,
            1.002233 98%,
            1.001902 99%,
            1.001597 100%
          );
          transition:
            left 0.3125s var(--zen-compact-mode-func),
            right 0.3125s var(--zen-compact-mode-func);
          opacity: 1;

          left: -1px;
          :root[zen-right-side='true'] & {
            right: -1px;
            left: auto;
          }
        }
      }
    }

    @media (-moz-bool-pref: 'zen.view.compact.hide-toolbar') {
      &:not([zen-single-toolbar='true']) {
        & #navigator-toolbox {
          top: 0;
        }

        & #navigator-toolbox {
          --zen-toolbox-top-align: var(--zen-element-separation);
        }

        & #sidebar-box,
        & #titlebar,
        & #zen-appcontent-wrapper,
        & #zen-sidebar-web-panel-wrapper:has(#zen-sidebar-web-panel:not([pinned='true'])) {
          margin-top: var(--zen-element-separation) !important;
        }

        & #zen-appcontent-wrapper {
          z-index: 3 !important;
        }

        & #zen-sidebar-web-panel-wrapper:has(#zen-sidebar-web-panel[pinned='true']) {
          margin-top: calc(var(--zen-element-separation) * 2) !important;
        }

        & #zen-appcontent-navbar-container {
          --zen-compact-toolbar-offset: 5px;
          position: absolute;
          top: calc((-1 * var(--zen-toolbar-height)) + var(--zen-element-separation) + 1px);
          left: 0;
          z-index: 20;
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3) !important;
          border-bottom-left-radius: var(--zen-border-radius);
          border-bottom-right-radius: var(--zen-border-radius);
          border-top-left-radius: env(-moz-gtk-csd-titlebar-radius);
          border-top-right-radius: env(-moz-gtk-csd-titlebar-radius);
          transition: all 0.15s ease;
          width: 100%;
          opacity: 0;
          background: var(--zen-dialog-background);

          max-height: var(--zen-toolbar-height);
          overflow: hidden;

          & > * {
            position: relative !important;
          }

          & #urlbar {
            transform: translateY(-50%);
            transition: transform 0.1s ease-in-out;
          }

          @media (-moz-bool-pref: 'zen.view.compact.color-toolbar') {
            background-attachment: fixed;
            backdrop-filter: blur(5px);
            background: var(--zen-main-browser-background-toolbar);
            background-size: 100% 2000px;
            border-bottom: 1px solid var(--zen-colors-border);
          }
        }

        & #zen-appcontent-navbar-container:hover,
        & #zen-appcontent-navbar-container[zen-has-hover],
        & #zen-appcontent-navbar-container:focus-within,
        & #zen-appcontent-navbar-container[zen-user-show],
        & #zen-appcontent-navbar-container[has-popup-menu],
        & #zen-appcontent-navbar-container:has(*:is([panelopen='true'], [open='true']):not(.zen-compact-mode-ignore)) {
          opacity: 1;
          border-top-width: 1px;

          top: -1px;
          overflow: initial;
          max-height: unset;

          & #urlbar {
            transform: translateY(0);

            &[open]:not([zen-floating-urlbar='true']) {
              top: 0 !important;
            }
          }
        }
      }
    }
  }
}
